{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<h1>Liste des utilisateurs</h1>
    <table>
        <thead>
            <tr class="table-success">
                <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ID</font></font></th>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">NOM</font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">EMAIL</font></font></td>
            </tr>
        </thead>
        <tbody>
            {% for user in orderByMail %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
<h1>Utilisateur dont l'id est 1</h1>
    <h2>{{ user.email }} (id : {{ user.id }})</h2>

<h1>Utilisateur dont l'email est foo.foo@example.com</h1>
    {% for user in email %}
    <h3>(user : {{ user.id }})</h3> 
    {% endfor %}

<h1>Utilisateur avec un role 'user' triés par ordre alphabétique d'email</h1>
    {% for user in userRoles %}
        (user : {{ user.roles | join(', ') }}) {{ user.email }}
    {% endfor %}

<h1>Utilisateur inactif</h1>
    {% for user in userEnabled %}
    <table>
        <tr>
            <td>{{ user.enabled }}</td>
            <td>{{ user.email }}</td>
        </tr>
    </table>
    {% endfor %}

{% endblock %}